ENVIRONMENT=local
LOG_LEVEL=INFO
LOG_MODE=pretty

DB_HOST=localhost
DB_PORT=5433
DB_NAME=property_rental_db
DB_USER=postgres
DB_PASSWORD=

JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_LIFETIME=300
SERVICE_AUTH_TOKEN=

IDENTITY_SERVICE_URL=http://localhost:8001

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
