ENVIRONMENT=local
LOG_LEVEL=INFO
LOG_MODE=pretty

DB_HOST=localhost
DB_PORT=5434
DB_NAME=engagement_db
DB_USER=postgres
DB_PASSWORD=

JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_LIFETIME=300
SERVICE_AUTH_TOKEN=

KAFKA_BOOTSTRAP_SERVERS=localhost:9092

IDENTITY_SERVICE_URL=http://localhost:8001
PROPERTY_SERVICE_URL=http://localhost:8002
